/* Estilos Globais */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.limitar-secao {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

/* Header - Cabeçalho da página */

header {
    background-color: #2f86d6;
}

.container-cabecalho {
    position: relative;
    padding: 2.2rem 0rem;
}

.cabecalho-logo {
    position: relative;
}

.cabecalho-logo img {
    width: 5rem;
}

.cabecalho-logo div {
    position: absolute;
    top: 0rem;
    left: 6rem;
}

.cabecalho-links {
    position: absolute;
    top: 4rem;
    right: 0rem;
}

.cabecalho-logo p {
    color: #fff;
    font-weight: 600;
}

.cabecalho-links a {
    font-size: 1.125rem;
    padding: 0.625rem;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

/* Main - Conteúdo principal da página */

